body {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  justify-content: center;
}

/* .header {
  position: fixed;
  z-index: 9999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
} */

.navHeader {
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
  position: fixed;
  /* z-index: 9999; */
  box-shadow: 0 2px 0px rgba(0, 0, 0, 0.2);
 
}

.cartIcon {
  margin-left: 25px;
}

.logoHeader {
  height: 100px;
  width: 100px;
  border-radius: 75px;
  margin-bottom: 15px;
}

.logo{
  margin-left: auto;
  margin-right: auto;
}

.links {
  margin-right: auto;
  margin-left: auto;
}

